
  .sliderArrows-image {
    border-radius: 100%;
    max-width: 30px;
    height: 30px;
    background: #eae9e6 !important;
    opacity: 0.5;
  }
  .sliderLeftArrow--images {
    left: 17%;
    height: 2em;
    width: 2em;
    top: 30%;
    background: #eae9e6 !important;
    border-radius: 100%;
  }
  .sliderRightArrow--images {
    opacity: 0.5;
    top: 30%;
    right: 17%;
    height: 2em;
    width: 2em;
    background: #eae9e6 !important;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
    border: 2px;
    border-radius: 100%;
  }
  .caretIcon {
    width: 12px;
    height: 15px;
    color: #1d1d1b;
  }
  .paginationDot {
    height: 8px;
    width: 64px !important;
    margin-bottom: 17px;
  }
  
.sliderRightArrow--shelf-vitrine,
.sliderRightArrow--shelf-vitrine-2,
.sliderRight--shelf-vitrine-3 {
  max-width: 30px;
  width: 95%;
  margin: 0 auto;
  height: 30px;
  border-radius: 100%;
  background: #eae9e6 !important;
  opacity: 0.5;
  top: 30%;
}

.sliderLeftArrow--shelf-vitrine,
.sliderLeftArrow--shelf-vitrine-2 {
  max-width: 30px;
  width: 95%;
  margin: 0 auto;
  height: 30px;
  border-radius: 100%;
  background: #eae9e6 !important;
  opacity: 0.5;
  top: 30%;
}

/* } */

.paginationDot{
  background-color: #1d1d1b;
  border-radius: 2px;

}
.paginationDot--isActive {
  background-color: #ec671a !important;
}

/*shelf*/
.sliderTrackContainer--shelf-vitrine,
.sliderTrackContainer--shelf-vitrine-2,
.sliderTrackContainer--shelf-vitrine-3 {
  width: 95%;
  margin: 0 auto;
}
.sliderLayoutContainer--shelf-vitrine {
  max-width: 1318px;

  margin: auto;
}

.paginationDotsContainer--shelf-vitrine,
.paginationDotsContainer--shelf-vitrine-2 {
  display: none;

}



