.container {
    overflow: hidden;
    max-width: 1318px;
    margin: 0 auto;
}

.imageElement--image-row {
  margin-right: 6px;
  align-self: center;

}

.imageElement--image-3-trio,
.imageElement--image-2-trio {
  max-width: 300px;

  ;
}

.imageElement--image-1-trio {
  max-width: 300px;
  
  margin: 0;
}

.inputGroup {
  max-width: 440px;

}


/*newsletter*/

.container--newsletter-form :global(.vtex-input-prefix__group) {
  width: 440px;
  height: 40px;
  border: solid 1px;
  color: #575756;
}

.container--newsletter-form :global(.vtex-button){
  max-width: 142px;
  height: 32px;
  border-radius: 0;
  font-size: 14px;
  background-color: #575756;


/* .buttonContainer--newsletter-form{

}
 */