.menuContainer--col-1-menu,
.menuContainer--footer-col1 {
  align-items: center;
}
/*     
.menuItem{
        margin-top: 10px;
}
 */
.menuContainerNav--footer-col1 {
  margin-top: 16px;
}
.styledLink {
  font-size: 12px;
}

.styledLinkContent--line-menu-footer {
  color: #fff;
}

.styledLink {
  font-family: Spartan;
  color: #fff;
}

.menuContainer--items-header {
  align-items: center;
  color: #eae9e6;
}

.menuContainer--items-header-1 {
  align-items: center;
  height: 40px;
  justify-content: center;
}

.styledLink--items-header-down-p {
  color: #eae9e6;
  font-size: 14px;
  font-weight: 400;
}

.styledLink--items-header-down-p-orange {
  color: #ec671a;
  font-size: 14px;
  font-weight: 400;
}

.menuItem--items-header-down-p {
  height: 100%;
}

.styledLinkContainer--items-header-down-p {
  height: 100%;
}

.menuContainer--medias-socias-footer-mobile {
  align-items: center;
}

.styledLinkContent--items-menu-footer-desk {
  margin-bottom: 10px;
}


.menuContainer--items-header-1 :global(.vtex-menu-2-x-styledLinkContainer--items-header-down-p){
  margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*SUBMENU*/

.submenuWrapper--shop-submenu--isClosed{
  background-color: white;
}
.submenuWrapper--shop-submenu--isOpen{
  background-color: #fff
}
.submenu--shop-submenu {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 16%;
}

.styledLinkContainer--items-vertudo{
  margin-left: 0;
}

.styledLinkContent--items-vertudo{
  color: #575756;
  font-size: 12px;
  
}

.styledLinkContainer--items-submenu{
  margin: 0;
}

.menuContainerNav--vertudo{
  display: flex;
    align-items: flex-end;
    margin-bottom: 7px;
    margin-left: 8px;
    text-decoration: underline;
}



.styledLinkContent--items-submenu {
  color: #575756;
  font-size: 14px;
}

.submenuWrapper--shop-submenu--isOpen {
  background-color: #1d1d1b;
}

/*footer mobile*/
.styledLinkContainer--item-menu-footer-mobile {
  margin: 0;
}
.styledLinkContent--item-menu-footer-mobile {
  font-size: 14px;
  font-weight: 700;
}

.accordionIcon--item-menu-footer-mobile--isClosed {
  font-size: 16px;
}

.menuItem--item-menu-footer-mobile {
  width: 100%;
}
.styledLinkContainer--item-submenu-footer-mobile {
  margin: 0;
}

/*MinhaConta*/

.menuContainer--items-header :global(.vtex-login-2-x-label) {
  text-transform: capitalize;
  color: #fff;
  font-weight: 100;
}

/*AJUDA DRAWER*/
/* .flexRow--drawer-ajuda-col :global(.styledLink--item-submenu-footer-mobile){
    color: black;
} */
