/*HEADER MOBILE*/
@media screen and (max-width: 767px){

  .flexRowContent--row-mobile-line-1{
    align-items: center;
    justify-content: space-between;
    height: 92px;
    display: flex;
  }
 
  .flexRowContent--items-mobile{
    max-width: 160px;
    width: 100%;
    display: flex;
  }
  .flexRow--items-mobile{
    width: 150px;
  }

  .flexRowContent--search-bar-header-mobile{
    height: 40px;
    align-items: center;
  }

   .flexRow--images-for-banner-main{
    display: flex;
    margin: auto;
    overflow: hidden;
    
  }
  .flexRowContent--newsletter-col1{
    display: flex;
    justify-content: center;
  }

  .flexRow--images-container {
    display: flex;
  }
  .flexRowContent--images-for-banner{
  height: 100%;
  display: flex;
}
  .flexRowContent--images-for-banner-main{
    flex-direction: column;
    align-items: center;

  }
  
  .flexRow--images-for-banner{
    flex-direction: row;
    
  }

  .flexRow--menu-mobile-header{
    background-color: #1d1d1b;
  
  }
  
  .flexRow--row-mobile-line-1{
    background-color: #1d1d1b;
  }
  .flexRow--search-bar-header-mobile{
    background-color: #1d1d1b;
    border-top: 1px solid #fff;
  }

  /*row-down-banner*/
  .flexRowContent--home-info {
   display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
  }
  .flexRowContent--row-child{
    display: flex;
  }
  /*layer*/
  .flexRowContent--layer{
  display: flex;
  flex-direction: column  ;
  }
  
    /*FOOTER MOBILE*/
  
  .flexRowContent--line-footer{
      align-items: center;
      display: flex;
    }
  .flexRow--line-footer{
    margin: 0 31px;
    
    border-bottom: 1px solid #E8E8E8;
  }
  
  .flexRow--line-down-footer{
    background-color: #EAE9E6;
  }
  
  .flexRowContent--line-down-footer{
    flex-direction: column;
    align-items: center;
  }
  
  .flexRow--line-1-line-down-footer{
    max-width: 507px;
      margin: 0 20px;
    }
    .flexRowContent--text-down-footer{
      display: flex;
      margin: 0 auto;
    }

    .flexColChild--col-footer-mobile{
      margin-bottom: 16px;
      margin-top: 16px;
    }
    .flexRow--text-down-footer{
      display: flex;
      margin: 0 auto;
    }

  }

  

  
  .flexCol--footer-col-4{
    align-items: center;
  }

  .flexRowContent--footer-mobile-images{
    display: flex;
  }

  .flexRowContent--midias-sociais{
    display: flex;
  }
  .flexRowContent--img-security{
    display: flex;
  }

  .flexRowContent--payment-footer{
    display: flex;
    align-items: center;
  }

/*HEADER*/

@media screen and (min-width: 768px){
  .flexRow--header-line{
    height: 92px;
  }
  
  .flexRow--menu-down-header{
    height: 40px;
    border-top: solid 1px #575756;
  }
  
  .flexRow--header-line{
    background-color: #1d1d1b;
    height: 92px;
  }
  .flexRow--menu-down-header{
    background-color: #1d1d1b;
    height: 40px;
    border-top: solid 1px #575756;
   
  }
  
  .flexRowContent--header-line{
    height: 92px;
    
    max-width: 1366px;
    align-items: center;
    justify-content: space-around;
  }
  
  
    .flexRowContent--home-info {
     
      height: 50px;
      justify-content: center;
      align-items: center;
      max-width: 1318px;
      width: 100%;
      margin: 0 auto;
    }
  
    .flexRow--home-info {
      margin: 0;
      display: flex;
      margin-bottom: auto;
      background-color: #575756 ;
    }
    .flexRow--images-trio-banner{
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      margin-bottom: 2em;
    }
    .flexRow--images-for-banner-main{
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      margin-bottom: 2em;
    }
  
    /*newsletter*/
    .flexCol--newsletter-col1{
      flex-direction: row;
      margin-left: 1em;
      
    }
    .flexRow--images-container {
      margin: auto;
     
    }
    
    .flexRowContent--newsletter {
      align-items: center;
      max-width: 2009px;
    }
    
    .flexRowContent--newsletter-coll{
      margin: auto;
      margin-left: 1em;
    }
  
    .flexRowContent--images-for-banner{
      height: 100%;
    }
  
    .flexRow--images-for-banner{
      flex-direction: column;
    }
  
    .flexRow--footer-desk{
      max-height: 259px;
      background-color:#1D1D1B;
    }
    .flexRowContent--footer-desk{
      height: 259px;
      
      
    }
  
  
  .flexCol--footer-col1{
    align-items: center;
  }
  
  .flexRowContent--row-footer{
    justify-content: space-between;
  }
  
  .flexRowContent--img-security{
    width: 102px;
    margin-top: 20px
  }
  
  .flexCol--row-icon-1{
    margin-top: 20px;
  }
  
  .flexColChild--row-icon-1{
    margin-bottom: 14px;
  }
  
  .flexRowContent--midias-sociais {
    margin-top: 15px;
  }
  

  /*footer*/
  .flexColChild--footer-col1{
    margin-bottom: 15px;
    height: 18px !important;
  }
  
  .flexRow--img-security{
    margin-top: 37px;
  }
  .flexRow--row-mobile-line-1{
    background-color: #1d1d1b;
  }

  .flexRowContent--text-header-minicart{
    width: auto;
    position: absolute;
    top: 0;
  }
    
}
.flexRow--text-down-footer{
  display: flex;
  margin: 0 auto;
}
.flexRow--header-line{
  height: 92px;
}

.flexRow--menu-down-header{
  height: 40px;
  border-top: solid 1px #575756;
}

.flexRow--header-line{
  background-color: #1d1d1b;
  height: 92px;
}
.flexRow--menu-down-header{
  background-color: #1d1d1b;
  height: 40px;
  border-top: solid 1px #575756;
 
}

.flexRowContent--header-line{
  height: 92px;
  
  max-width: 1366px;
  align-items: center;
  justify-content: space-around;
}


  .flexRowContent--home-info {
   
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 1318px;
    width: 100%;
    margin: 0 auto;
  }

  .flexRow--home-info {
    margin: 0;
    display: flex;
    margin-bottom: auto;
    background-color: #575756 ;
  }
  .flexRow--images-trio-banner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2em;
  }
  .flexRow--images-for-banner-main{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2em;
  }

  /*newsletter*/
  .flexCol--newsletter-col1{
    flex-direction: row;
    margin-left: 1em;
    
  }
  .flexRow--images-container {
    margin: auto;
  }
  
  .flexRowContent--newsletter {
    align-items: center;
    max-width: 2009px;
  }
  
  .flexRowContent--newsletter-coll{
    margin: auto;
    margin-left: 1em;
  }

  .flexRowContent--images-for-banner{
    height: 100%;
  }

  .flexRow--images-for-banner{
    flex-direction: column;
  }

  .flexRow--footer-desk{
    max-height: 259px;
    background-color:#1D1D1B;
  }
  .flexRowContent--footer-desk{
    height: 259px;
    
    
  }


.flexCol--footer-col1{
  align-items: center;
}

.flexRowContent--row-footer{
  justify-content: space-between;
}

.flexRowContent--img-security{
  width: 102px;
  margin-top: 20px
}

.flexCol--row-icon-1{
  margin-top: 20px;
}

.flexColChild--row-icon-1{
  margin-bottom: 14px;
}

.flexRowContent--midias-sociais {
  margin-top: 15px;
}

.flexColChild--footer-col1{
  margin-bottom: 15px;
  height: 18px !important;
}

.flexRow--img-security{
  margin-top: 37px;
}







.flexRow--header-line{
  background-color: #1d1d1b;
}

.flexRow--row-footer{
  background-color: #EAE9E6;
  
}
.flexRow--footer-desktop-row{
  max-width: 1318px;
  background-color: #EAE9E6;
}

  .flexRow--header-line{
    background-color: #1d1d1b;
    
  }
  .flexRow--menu-down-header{
    background-color: #1d1d1b;
 
   
  }

  .flexRow--row-mobile-line-1{
    background-color: #1d1d1b;
  }


  /*drawer ajuda*/
  .flexRow--drawer-ajuda-col :global(.vtex-menu-2-x-styledLinkContent--item-menu-footer-mobile){
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
  }
  .flexRow--drawer-ajuda-col :global(.vtex-menu-2-x-styledLink--item-submenu-footer-mobile){
    color: #575756;
    font-size: 14px;
}

.flexRowContent--drawer-ajuda-col :global(.vtex-rich-text-0-x-container--text-menu-footer){
  margin-bottom: 16px;
}
.flexCol--col-image-payment{
    width: 171px;
    height: 100%;
    max-height: 56px;
   margin-bottom: 12px;
    margin-top: 6px;
}
  .flexRow--drawer-ajuda-col{
    width: 100%;
  }

  .flexRow--payment-sub-menu-ajuda{
    max-height: 188px;
    height: 100%;
    width: 95%;
    margin: 0 auto;

  }
  .flexRowContent--payment-sub-menu-ajuda{
    display: block;
    border-bottom: solid 1px #EC671A;
    height: 100%;
  }
  .flexRow--payment-sub-menu-ajuda :global(.vtex-rich-text-0-x-strong--text-menu-footer){
    color: black;
    margin: 0 5px;
  }
.flexRowContent--sociais-sub-menu-ajuda-main {
  margin-top: 12px;
}
  .flexRowContent--sociais-sub-menu-ajuda-main :global(.vtex-rich-text-0-x-paragraph--text-menu-footer){
    margin: 0 5px;
    color: black;
  }
  .flexRowContent--midias-socias-ajuda{
    height: 100%;
    max-width: 177px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .flexRow--midias-socias-ajuda{
    width: 177px;
    height: 100%;
  }

  .flexRow--drawer-ajuda-col :global(.vtex-menu-2-x-menuItem--item-menu-footer-mobile){
    border-bottom: solid 1px #EC671A;
    
  }

  .flexRow--sociais-sub-menu-ajuda-main{
    width: 95%;
    margin: 0 auto;
  }

.flexRowContent--drawer-ajuda-col :global(.vtex-menu-2-x-menuItem--item-menu-footer-mobile){
  width: 95%;
  margin: 0 auto;
}

.flexRowContent--image-payment-menu{
  margin-bottom: 12px;
}




