
.menuContainer--col-1-menu, .menuContainer--footer-col1 {
        align-items: center;
}
/*     
.menuItem{
        margin-top: 10px;
}
 */
.menuContainerNav--footer-col1{
    margin-top: 16px;
}
.styledLink {
        font-size: 12px;
}

.styledLinkContent--line-menu-footer{
    color: #fff;
}


.styledLink {
    font-family: Spartan;
    color: #fff;

}

.menuContainer--items-header{
    align-items: center;
    color: #EAE9E6;
}

.menuContainer--items-header-1{
    align-items: center;
    height: 40px;
    justify-content: center;
}

.styledLink--items-header-down-p{
color: #EAE9E6;
font-size: 14px;
font-weight: 400;
}

.styledLink--items-header-down-p-orange{
    color: #ec671a;
    font-size: 14px;
    font-weight: 400;
}

.menuItem--items-header-down-p{
    height: 100%;
}

.styledLinkContainer--items-header-down-p{
    height: 100%;
}

.menuContainer--medias-socias-footer-mobile{
    align-items: center;
}

.styledLinkContent--items-menu-footer-desk{
    margin-bottom: 10px;
}

/*SUBMENU*/
.styledLinkContent--items-submenu{
    color: #EAE9E6;
    font-size: 12px;
}

.submenuWrapper--shop-submenu--isOpen{
    background-color: #1D1D1B;
}


/*footer mobile*/
.styledLinkContainer--item-menu-footer-mobile{
    margin: 0;
}
.styledLinkContent--item-menu-footer-mobile{
    font-size: 14px;
    font-weight: 700;
}

.accordionIcon--item-menu-footer-mobile--isClosed{
    font-size: 16px;
}

.menuItem--item-menu-footer-mobile{
    width: 100%;
}
.styledLinkContainer--item-submenu-footer-mobile{
    margin: 0;
}

/*MinhaConta*/

.menuContainer--items-header :global(.vtex-login-2-x-label){
    text-transform: capitalize;
    color: #fff;
    font-weight: 100;
}



/*AJUDA DRAWER*/
/* .flexRow--drawer-ajuda-col :global(.styledLink--item-submenu-footer-mobile){
    color: black;
} */