.footerLayout--footer{
    
    max-height: 260px;
}

.socialNetworksContainer{
    margin: 24px;
}

.socialNetworkLink--facebook, .socialNetworkLink--instagram, .socialNetworkLink--twitter{
    margin-right: 8px;
}

.footerLayout--footer {
    background-color: #1d1d1b;
}


/*mobile*/

.footerLayout--footer-mobile{
    background-color: #1D1D1B;
    
}